/*  ButtonNav   */
.link_nav {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  color: #fff;
}

.link_nav:hover {
  border-bottom: 1px solid #fff;
  transition: 0.2s linear;
  font-weight: bold;
}

/*   Nav   */
.nav_container {
  justify-content: space-around;
  background-color: #ffffff1d;
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  justify-self: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  display: flex;
  width: 600px;
  height: 50px;
  top: 30px;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.btns_container {
  justify-content: space-around;
  align-items: center;
  display: flex;
  gap: 15px;
}

/*  DirButton   */
.dirButton_container {
  justify-content: space-around;
  border: 1px solid #d9d9df;
  border-radius: 0 8px;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.a_dir {
  text-decoration: none;
}
.dir_btn {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  display: flex;
  border: none;
  gap: 15px;
  .dir_span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
  }
}
.iconDir_container {
  border-radius: 50%;
  overflow: hidden;
  height: 27px;
  width: 27px;
  .icon_dir {
    border-radius: 50%;
    object-fit: cover;
    height: 25px;
    width: 25px;
  }
}

/*    Proyect Card   */
.card-proyect_contenedor {
  width: calc(100% - 10px);
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  backdrop-filter: blur(20px);
  overflow: hidden;
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    align-self: center;
    border-radius: 0;
  }
  .title {
    font-weight: 500;
    color: #fff;
    padding-left: 5px;
  }
  p {
    font-size: 1rem;
    color: #fff;
    padding-left: 5px;
  }
}

/*      Contact Us      */
.form-container {
  width: 100%;
  background-color: #ffffff1a;
  border: 2px solid #fff;
  padding: 32px 24px;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-size: 1rem;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #ffffffda;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #ffffffda;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #fff;
  font-weight: 600;
  width: 20%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

/*      Social Icons      */

.button_socialIcons {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition: 0.1s;
}
.button_socialIcons svg {
  color: white;
  width: 30px;
  height: 30px;
  z-index: 9;
}

.button_socialIcons:nth-child(2) {
  background: linear-gradient(120deg, #02ff2c, #008a12);
}

.button_socialIcons:nth-child(3) {
  background: rgb(69, 187, 255);
}

.button_socialIcons:nth-child(4) {
  background: rgb(255, 33, 33);
}

.button_socialIcons:nth-child(5) {
  background: black;
}

.button_socialIcons:active {
  transform: scale(0.85);
}

.button_socialIcons::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #212121;
  border-radius: 50px;
  z-index: -1;
  border: 0px solid rgba(255, 255, 255, 0.411);
  transition: 0.4s;
}

.button_socialIcons:hover::before {
  width: 0px;
  height: 0px;
}
