.home_contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  .name {
    font-size: 5rem;
    font-weight: bold;
  }
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name,
.saludo,
.despedida {
  color: #fff;
}

.personal_img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
}
